  
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
  width: 920px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 5px;
}

.inputbox {
  border: none;
}

.row {
  white-space: pre-wrap;
  height: 180px;
  border-top: 2px solid white;;
}

/* save button */
.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: cyan;
  color: white;
  width: 100px;
  font-size: 40px;
}

.saveBtn i:hover {
  font-size: 40px;
  transition: all .3s ease-in-out;
}

.hour {
  background-color: white;
  color: #000000;
  border-top: 1px dashed #000000;
  width: 120px;
  text-align: center;
  padding: 20px;
}

.past {
  background-color: lightgray;
  color: white;
}

.present {
  background-color: red;
  color: white;
}

.future {
  background-color: lightgreen;
  color: white;
}
